body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-blue-950);
  color: var(--color-blue-500);
}

a {
  color: inherit;
}

a:hover {
  color: var(--color-cyan-400);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

:focus-visible {
  outline: 3px solid var(--color-cyan-400);
  outline-offset: 4px;
}

::selection {
  background-color: var(--color-cyan-400);
  color: var(--color-blue-950);
}
